@import "./src/styles/reset";
@import "./src/styles/bootstrap-grid.scss";
@import "./src/styles/colors";
@import "./src/styles/text";
@import "./src/styles/elements";

.login-img-bg {
  background-image: url("./assets/images/white-bg-woman.jpg");
  background-size: cover;
}
.bg-forgot-password {
  background-image: url("./assets/images/blue-man.jpg");
  background-size: cover;
  background-position: center;
}
